<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register new order</title>
</head>
<body>
<h1>Создание заказа для клиента</h1>
<form th:method="POST" th:action="@{/order/new}" th:commandname="analyzes">
    <table align="center">
        <tbody>
        <tr>
            <td>
                <select id="analyze1" name="analyze1" style="font:24px Times New Roman">
                    <option th:value="0">Выберите анализ</option>
                    <option th:each="anal : ${analyzes}" th:value="${anal.getId()}" th:text="${anal.getName()}" style="font:24px Times New Roman"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select  id="analyze2" name="analyze2" style="font:24px Times New Roman">
                    <option th:value="0">Выберите анализ</option>
                    <option th:each="anal : ${analyzes}" th:value="${anal.getId()}" th:text="${anal.getName()}" style="font:24px Times New Roman"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select  id="analyze3" name="analyze3" style="font:24px Times New Roman">
                    <option th:value="0">Выберите анализ</option>
                    <option th:each="anal : ${analyzes}" th:value="${anal.getId()}" th:text="${anal.getName()}" style="font:24px Times New Roman"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select id="analyze4" name="analyze4" style="font:24px Times New Roman">
                    <option th:value="0">Выберите анализ</option>
                    <option th:each="anal : ${analyzes}" th:value="${anal.getId()}" th:text="${anal.getName()}" style="font:24px Times New Roman"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select  id="analyze5" name="analyze5" style="font:24px Times New Roman">
                    <option th:value="0">Выберите анализ</option>
                    <option th:each="anal : ${analyzes}" th:value="${anal.getId()}" th:text="${anal.getName()}" style="font:24px Times New Roman"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Добавить"/>
            </td>
            <td>
                <input type="hidden" name=client_id th:value="${person_id}"/>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>